NEXT_PUBLIC_SUPABASE_URL=https://jsbhgsfnxrgcxlxsbokp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-5X144FYA8MVgch5IA0VLg_D3VidgZE
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here